.header {
    margin-top: 20px;
}
.header a {
    text-decoration: none;
    margin-left: 15px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 14px;
}
.header a:hover {
    background-color: tomato;
}